name: Call for QA

on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * 1  # every Monday at 9:30

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run script
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: |
          python scripts/send_call_for_qa.py $WEBHOOK_URL
