name: Announce updates

on:
  workflow_dispatch:
  schedule:
    - cron: 0 19 * * *  # every day at 19:00

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ghexplain

      - name: Run script
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: |
          GITHUB_TOKEN=${{ secrets.PROJECT_STATUS_BOT_TOKEN }} python scripts/announce_updates.py $WEBHOOK_URL
