name: Update ns-ui package

# **What it does**: Every nigth, at midnight checks if a new version of ns-ui is available.
# **Why we have it**: To avoid manually updating the package.
# **Who does it impact**: packages/ns-ui/Makefile and the UI_COMMIT value

on:
  workflow_dispatch:

  schedule:
    - cron:  "0 0 * * *"

jobs:
  update-package:
    name: Update ns-ui package

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Update apt
        run: sudo apt update
      - name: Install deps
        run: sudo apt-get install -y curl jq git
      - name: Check if new UI commit is different
        run: |
          NEW_COMMIT=$(curl https://api.github.com/repos/NethServer/nethsecurity-ui/commits/main | jq -r .sha)
          sed -i "s/UI_COMMIT=.*/UI_COMMIT=$NEW_COMMIT/g" packages/ns-ui/Makefile
      - name: Commit and create PR
        uses: peter-evans/create-pull-request@v5
        with:
          title: 'build(deps): Update ns-ui package (automated)'
          branch: 'build-update-ns-ui-package-automated'
          commit-message: 'build(deps): ns-ui package: update ns-ui package (automated)'
          base: main